html {
	direction: rtl;
}

#zt-logo {
  float: right;
}
#zt-social-network {
  float: left;
 
}

#zt-social-network .zt-bot {
  text-align: left;
  margin:0 0px 0 7px;

}

#zt-social-network .zt-top ul li {
  margin:0 0px 0 7px;
  float: left;
}
#zt-mainmenu-inner {
  float: right;
}
#zt-search {
  float: left;
}

#zt-search .search .button-search {
  background: url("../images/zt_btn_search.png") no-repeat left top;
  float: left;
  margin: 6px 0px 0 6px;
 
}
#zt-tool {
    float: left;
    margin: 0px 0px 0 7px;
    text-align: left;
    width: 100%;
}

/*mega menu*/
.rtl #menusys_mega li {
    float: right;
}
.rtl #menusys_mega {
	float: right;
}
.rtl #menusys_mega .megacol {
    float: right;
}


.rtl #menusys_moo {
	float: right !important;
	width: 100%;
}
.rtl #menusys_moo li {
	float: right;
}
.rtl #menusys_moo li ul {
	right: -999em;
	left: auto;
}
.rtl #menusys_moo li ul ul {
	margin: -2.3em 17em 0 0;
}
.rtl #menusys_moo li ul a span {
	padding: 0;
	padding-right: 10px !important;
	width: auto;
}

.rtl #menusys_moo li:hover ul ul,
.rtl #menusys_moo li:hover ul ul ul,
.rtl #menusys_moo li.hover ul ul, 
.rtl #menusys_moo li.havechildhover ul ul, 
.rtl #menusys_moo li.havechild-activehover ul ul, 
.rtl #menusys_moo li.activehover ul ul,
.rtl #menusys_moo li.hover ul ul ul, 
.rtl #menusys_moo li.havechildhover ul ul ul, 
.rtl #menusys_moo li.havechild-activehover ul ul ul, 
.rtl #menusys_moo li.activehover ul ul ul {
	right: -999em;
	left: auto;
}
.rtl #menusys_moo li:hover ul, 
.rtl #menusys_moo li li:hover ul, 
.rtl #menusys_moo li li li:hover ul,
.rtl #menusys_moo li.hover ul, 
.rtl #menusys_moo li.havechildhover ul, 
.rtl #menusys_moo li.havechild-activehover ul, 
.rtl #menusys_moo li.activehover ul,
.rtl #menusys_moo li li.hover ul, 
.rtl #menusys_moo li li.havesubchildhover ul, 
.rtl #menusys_moo li li.havesubchild-activehover ul, 
.rtl #menusys_moo li li.activehover ul,
.rtl #menusys_moo li li li.hover ul, 
.rtl #menusys_moo li li li.havesubchildhover ul, 
.rtl #menusys_moo li li li.havesubchild-activehover ul, 
.rtl #menusys_moo li li li.activehover ul {
	right: auto;
	left: auto;
}



.rtl #menusys_mega .megacol ul li a .menu-title {
  background: url("../images/rtl_bullet.png") no-repeat 98% 10px transparent !important;
  padding: 15px 20px 15px 0px;
}

ul.menu li a span {
  background: url("../images/rtl_bullet.png") no-repeat 98% 13px;
  padding: 10px 15px 10px 0px;
}

ul#mainlevel li a {
  background: url("../images/rtl_bullet.png") no-repeat 98% 13px;
  padding: 10px 15px 10px 0px;
 
}



#zt-userwrap1 .zt-user .icon1 {
  background: url("../images/zt_icon1.png") no-repeat 97% 20px;
  padding: 0 60px 0 0px;
}

#zt-userwrap1 .zt-user .icon2 {
  background: url("../images/zt_icon2.png") no-repeat 97% 20px;
  padding: 0 60px 0 0px;
}

#zt-userwrap1 .zt-user .icon3 {
  background: url("../images/zt_icon3.png") no-repeat 97% 20px;
  padding: 0 60px 0 0px;
}

.event-item-images {
  float: right;
}
#zt-container-right #zt-right .event-item-intro {
  float: left;
  margin: 0 15px 0 0px;
}
.news-events .article-item li a {
  background: url("../images/rtl_bullet.png") no-repeat right 3px !important;
  padding: 0 15px 0 0px !important;
}
/*user 2*/
#zt-userwrap2 .zt-user .zt-box-inside ul li a {
  background: url("../images/rtl_bullet.png") no-repeat right 13px;
  padding: 10px 15px 10px 0px;
}


.jv_headline_accord_wrap .featured img {
 
 float:left;
}

.jv_headline_accord_wrap .feature_excerpt .position_excerpt .introtext {
  float: right;
  padding: 0 30px 0 0px;
}
.jv_headline_accord_wrap .featured .feature_excerpt h4 {
  margin: 0 30px 5px !important;
}
