/*
	For megamenu
*/
#menusys_mega li:hover a,
#menusys_mega li:active a,
#menusys_mega li:focus a,
#menusys_mega li a.active,
#menusys_mega li a.active:hover,
#menusys_mega li a.active:active,
#menusys_mega li a.active:focus {
	background:none !important;
}
#menusys_mega li:hover a .menu-title,
#menusys_mega li:active a .menu-title,
#menusys_mega li:focus a .menu-title,
#menusys_mega li a.active .menu-title,
#menusys_mega li a.active:hover .menu-title,
#menusys_mega li a.active:active .menu-title,
#menusys_mega li a.active:focus .menu-title {
	background:none !important;
}
#menusys_mega .fancy{
	position: absolute;
	visibility: hidden;
	z-index:1;
	height: 54px;
	background: url(../../images/zt_bg_main_menu_active.png) repeat-x 0 0;
}
#menusys_mega .fancy .fancy-left{
    margin: 0;
    padding: 0 0 0 20px;
	
}
#menusys_mega .fancy .fancy-right{
    margin: 0;
    padding: 0 20px 0 0;

}
/*
	For Moomenu
*/
#menusys_moo li a:hover,
#menusys_moo li a:active,
#menusys_moo li a:focus,
#menusys_moo li a:hover span,
#menusys_moo li a:active span,
#menusys_moo li a:focus span,
#menusys_moo li.hover a,
#menusys_moo li.hasChildhover a,
#menusys_moo li.havechildhover a,
#menusys_moo li.havechild-activehover a,
#menusys_moo li.last-itemhover a,
#menusys_moo li a:hover span,
#menusys_moo li a:active span,
#menusys_moo li a:focus span,
#menusys_moo li:hover a span,
#menusys_moo li.hover a span,
#menusys_moo li.havechildhover a span,
#menusys_moo li.havechild-activehover a span,
#menusys_moo li a.active,
#menusys_moo li a.active:hover,
#menusys_moo li a.active:active,
#menusys_moo li a.active:focus,
#menusys_moo li a.active span,
#menusys_moo li a.active:hover span,
#menusys_moo li a.active:active span,
#menusys_moo li a.active:focus span {
	background:none !important;
}
#menusys_moo .fancy{
	position: absolute;
	visibility: hidden;
	z-index:1;
}
#menusys_moo .fancy .fancy-left{
    margin: 0;
    padding: 0 0 0 20px;
	height: 54px;
	background: url(../../images/zt_bg_main_menu_active.png) repeat-x 0 0;
}
#menusys_moo .fancy .fancy-right{
    margin: 0;
    padding: 0 20px 0 0;
	height: 54px;
	background: url(../../images/zt_bg_main_menu_active.png) repeat-x 0 0;
}