.menusys_mega {
	margin: 0;
	padding: 0;
	width: 100%;
}
#menusys_mega {
	margin: 1px 0px 0px 0px;
	padding: 0;
	float: left;
	height: 54px;
	width: 100%;
}
#menusys_mega .menusub_mega {
	margin-top: 0;
	padding: 5px;
	position: absolute;
	z-index: 888;
	background: #197690;
}
#menusys_mega .submenu-wrap {
	background: #ffffff;
	float: left;
	position: relative;
}
#menusys_mega .megacol .megacol .menusub_mega {
	margin-top: -20px !important;
	margin-left: -10px !important;
}
#menusys_mega .megacol .megacol .megacol .menusub_mega {
	margin-left: 20px !important;
}
#menusys_mega li {
	padding: 0; 
	float: left;
	display: block;
	background: url(../../images/zt_bg_border_right.png) top right no-repeat;
	height:54px;
}
#menusys_mega li a {
	padding:0px 20px 0px 20px;
	display: block;
	text-decoration: none;
	z-index: 100;
	position: relative;
}

/*
#menusys_mega .menu-title {
	display: block;
	color: #feffff;
	font-size: 120%;
	font-weight: bold;
	width:100%;
	line-height:10px;
	padding:14px 0px 0px 0px;
	
	
}
*/

#menusys_mega .menu-title {
    color: #FEFFFF;
    display: block;
    font-size: 120%;
    font-weight: bold;
    line-height: 100%;
    padding: 13px 0 0;
    width: 100%;
}
#menusys_mega .menu-desc {
    border: medium none;
    color: #7F7F7F;
    display: block;
    font-size: 90%;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 7px;
    width: 100%;
}
/*
#menusys_mega .menu-desc
{
	padding: 0;
	color: #7f7f7f;
	border: none;
	display: block;
	font-size: 110%;
	line-height:0;
	font-weight: normal;
	width:100%;
	line-height:30px;
}
*/
#menusys_mega .menu-image {
	border: none;
	float: left;
	line-height: 44px;
	padding: 8px 0 0;
	margin-right: 3px;
}
#menusys_mega .menu-image img {
}
#menusys_mega li:hover,
#menusys_mega li:active,
#menusys_mega li:focus {
}
#menusys_mega .active {
}

#menusys_mega li:hover a,
#menusys_mega li:active a,
#menusys_mega li:focus a,
#menusys_mega li a.active,
#menusys_mega li a.active:hover,
#menusys_mega li a.active:active,
#menusys_mega li a.active:focus {
	background: url(../../images/zt_bg_main_menu_active.png) repeat-x 0 0;
}
#menusys_mega li:hover a .menu-title,
#menusys_mega li:active a .menu-title,
#menusys_mega li:focus a .menu-title,
#menusys_mega li a.active .menu-title,
#menusys_mega li a.active:hover .menu-title,
#menusys_mega li a.active:active .menu-title,
#menusys_mega li a.active:focus .menu-title {
	color: #feffff;
}
#menusys_mega li:hover a .menu-desc,
#menusys_mega li:active a .menu-desc,
#menusys_mega li:focus a .menu-desc,
#menusys_mega li a.active .menu-desc,
#menusys_mega li a.active:hover .menu-desc,
#menusys_mega li a.active:active .menu-desc,
#menusys_mega li a.active:focus .menu-desc {
	color: #30c8e3;
}



#menusys_mega li:hover ul a,
#menusys_mega li:active ul a,
#menusys_mega li:focus ul a,
#menusys_mega li ul a.active,
#menusys_mega li ul a.active:hover,
#menusys_mega li ul a.active:active,
#menusys_mega li ul a.active:focus {
	background: none;
}
#menusys_mega li:hover ul a .menu-title,
#menusys_mega li:active ul a .menu-title,
#menusys_mega li:focus ul a .menu-title,
#menusys_mega li a.active ul .menu-title,
#menusys_mega li a.active:hover ul .menu-title,
#menusys_mega li a.active:active ul .menu-title,
#menusys_mega li a.active:focus ul .menu-title {
	background: #000000;
}
span.has-image {
	display: block;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
span.no-image {
	display: block;
}

#menusys_mega .mega-group span.has-image,
#menusys_mega .mega-group span.no-image,
#menusys_mega .menusub_mega h3 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	display: block;
	border-bottom: 1px solid #C0C0C0;
}
#menusys_mega .mega-group a,
#menusys_mega ul a {
	padding: 0;
	color: #555555;
	background: none !important;
}
#menusys_mega .mega-group .menu-title{
	padding: 0;
	display: inline;
	color: #555555;
	text-transform: none;
	line-height: 23px;
	font-size: 160%;
	font-family: Arial;
	background: none !important;
	text-shadow: none;
}
#menusys_mega ul a:hover,
#menusys_mega ul a:focus,
#menusys_mega ul a:active {
	text-decoration: underline;
}
#menusys_mega .mega-group .menu-title {
	color: #555555 !important;
	text-transform: uppercase;
}
#menusys_mega .mega-group .menu-desc {
	color: #555555 !important;
}
#menusys_mega .megacol {
	float: left;
	padding: 5px 0;
}
#menusys_mega .megacol ul {
	margin:0px;
	float:none;
}
#menusys_mega .megacol ul li:hover a .menu-title,
#menusys_mega .megacol ul  li:active a .menu-title,
#menusys_mega .megacol ul  li:focus a .menu-title,
#menusys_mega .megacol ul  li a.active .menu-title,
#menusys_mega .megacol ul  li a.active:hover .menu-title,
#menusys_mega .megacol ul  li a.active:active .menu-title,
#menusys_mega .megacol ul  li a.active:focus .menu-title {
	color: #000000;
}

#menusys_mega .megacol ul.mega-ul {
	padding: 0 10px;
}
#menusys_mega .megacol ul li {
	float:none;
	border:none;
	line-height:0;
	height:auto;
	background:url('../../images/zt_bg_hr_menu_footer.png') bottom right repeat-x;
	padding:0px;
}
#menusys_mega .megacol ul li  a{
	color:#555555;
	text-decoration:none;
}
#menusys_mega .megacol ul li  a .menu-title{
	padding:15px 0px 15px 20px;
	color:#555555;
	line-height:0;
	font-size:100%;
	background: url("../../images/bullet.png") no-repeat scroll 2px 10px !important;
}
#menusys_mega .megacol ul li  a:hover{
	color:#30c8e3 !important;
	
}
#menusys_mega .megacol ul li.hasChild {
	position:relative;
}
#menusys_mega .menusub_mega .mega-group {
	padding: 0 10px;
	clear: both;
	height: auto;
}
#menusys_mega .menusub_mega .mega-module {
	clear: both;
	padding: 0;
}
#menusys_mega .menusub_mega h3 {
	margin: 0 0 10px 0;
	font-size: 10%;
	line-height: 25px;
	font-weight: normal;
	color: #FF2C7A !important;
	text-transform: uppercase;
}
.menusub_mega {
	display: none;
}
#menusys_mega li.hasChild.hover {
	height: 54px;
}
#menusys_mega ul li.hasChild.hover {
	height: auto;
	background: none;
}